* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.main p {
  color: blue;
}

.main>p {
  font-size: 22px;
}

p+h1 {
  font-style: italic;
}

.p~p {
  text-decoration: underline;
}

.arman {
  width: 200px;
  height: 200px;
  background: #ff0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arman:hover {
  background: #f0f;
}

.arman>button:active {
  transform: scale(0.5);
}

input[type='text'] {
  transition: 0.5s;
}

input[type='text']:focus {
  background: #000;
  color: #fff;
  padding: 20px;
  transform: translateX(200px);
}

a:visited {
  color: #f0f;
}

ul>li:first-child {
  color: #f0f;
}

ul>li:first-child {
  color: blue;
}


ul>li:nth-child(2) {
  color: hotpink;
}

ul>li:nth-child(odd) {
  background: #ccc;
}

ul>li:nth-child(old) {
  font-weight: bold;
}

ul>li:nth-child(n+2):nth-child(-n+4) {
  font-style: italic;
}

ul>li:not(:nth-child(3)) {
  text-decoration: line-through;
}

input[type="checkbox"] {
  accent-color: green;
}

input[type="checkbox"]:checked+p {
  color: blue;
  font-weight: bold;
  font-size: 22px;
}

.para {
  width: 300px;
  padding: 20px;
  margin: 20px;
  border: 1px solid black;
  position: relative;
}

.para::before {
  content: 'Arman';
  color: #f0f;
  border: 1px solid;
  padding: 6px 16px;
  border-radius: 16px/50%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
}

.para::after {
  content: 'Fakibazz';
  color: rgb(166, 182, 75);
  border: 1px solid;
  padding: 6px 16px;
  border-radius: 16px/50%;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  background: #fff;
}

.para::first-letter {
  font-weight: bold;
  color: #f0f;
}

.para::first-line {
  text-decoration: underline;

}

.para::selection {
  background: #ff0;
}